<ion-view title="Login" id="login">
  <ion-content padding="true" class="has-header">
    <form id="bienvenido-form1" class="list">
      <div id="bienvenido-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Inicia sesión en
          <strong>KCArma</strong>
        </p>
      </div>
      <label class="item item-input" id="bienvenido-input1" name="login_user">
        <span class="input-label">Email</span>
        <input type="email" placeholder="mi_email">
      </label>
      <label class="item item-input" id="bienvenido-input3" name="login_pass">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="************">
      </label>
    </form>
    <a href="#/tab/dash"><button id="bienvenido-button1" class="button button-positive  button-block">Iniciar sesión</button></a>
    <div id="bienvenido-button-bar1" class="button-bar"></div>
    <button id="bienvenido-button8" class="button button-positive  button-block">Registrarse</button>
    <button id="bienvenido-button9" class="button button-positive  button-block">Olvide mi contraseña</button>
  </ion-content>
</ion-view>