<ion-view view-title="Perfil" class="splash_screen_bg">
  <ion-content class="padding" >

    <div class="list card">


  <div class="item item-avatar">
    <img src="img/caguama.png">
    <h2>Pap's Martínez</h2>
    <p>Buena Copa</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/mirrey.jpg">
    <p>
      Estudiante IDS TecMilenio, amante de la tecnología, party beast.
    </p>
    <p>
      
    </p>
  </div>

</div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Eventos asistidos</span>
    <input type="text" placeholder="68">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Eventos Organizados</span>
    <input type="text" placeholder="3">
  </label>
</div>
<button class="button button-block button-positive">
  Administrar Perfil
</button>
<div class="list card">
 <div class="item item-avatar">
    <img src="img/facebook.png">
    <h2>Facebook</h2>
    <p>Tu perfil está vinculado.</p>
  </div>
  <div class="item item-avatar">
    <img src="img/twitter.png">
    <h2>Twitter</h2>
    <p>Tu perfil está vinculado.</p>
  </div>
  <div class="item item-avatar">
    <img src="img/paypal.png">
    <h2>PayPal</h2>
    <p>Tu método de pago está registrado.</p>
  </div>
<form action="#/tab/login">
    <input class="button button-block button-assertive" type="submit" value="Cerrar Sesión" />
</form>
  </ion-content>
</ion-view>