<ion-view title="Login" id="login"  ng-app="mySuperApp">
  <ion-content padding="true" class="has-header" ng-controller="PopupCtrl">
    <form id="bienvenido-form1" class="list">
      <div id="bienvenido-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
<img src="img/logo.jpeg" alt="Mountain View" style="width:150px;height:150px;">
      </div>
      <label class="item item-input" id="bienvenido-input1" name="login_user">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="bienvenido-input3" name="login_pass">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="************">
      </label>
    </form>
   <form action="#/tab/dash">
    <input onclick="deactivateLogin();" id="bienvenido-button1" class="button button-balanced  button-block" type="submit" value="Iniciar sesión"/>
    </form>
    
    <div id="bienvenido-button-bar1" class="button-bar"></div>
    <button id="bienvenido-button8" class="button button-positive  button-block" ng-click="showPopup()" >Registrarse</button>
    <button id="myBtn" class="button button-energized  button-block">Olvide mi contraseña</button>



  </ion-content>
</ion-view>




