
<ion-view view-title="Eventos" class="splash_screen_bg">
  <ion-content class="padding" >

<div class="list">

<h4 align="center"> Arma tu Pachanga </h4>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Introduce el nombre de tu fiesta ">
  </label>
</div>


  <label class="item item-input item-select">
    <div class="input-label">
      Tipo de Fiesta
    </div>
    <select>
      <option>Tranqui</option>
      <option selected>Mediana</option>
      <option>Masiva</option>
    </select>
  </label>
</div>


<ul class="list">

  <li class="item item-toggle">
     Cover
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>


 <h4 align="center">Cover p/Persona </h4>
<div class="item range">
 
  <i class="icon ion-cash"></i>
  <input type="range" name="Presupuesto" min="0" max="100" value="33">
  <i class="icon ion-cash"></i>
</div>

<h4 align ="center"> Capacidad de tu Pachanga  </h4>


<div class="item range">
 
  <i class="ion-ios-people-outline"></i>
  <input type="range" name="Presupuesto" min="0" max="100" value="33">
  <i class="ion-ios-people"></i>
</div>
<h4 align ="center"> Ubicación de tu Pachanga  </h4>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-ios-location placeholder-icon"></i>
    <input type="text" placeholder="Introduce la ubicación de tu evento ">
  </label>
</div>


<button class="button button-block button-balanced">
  CREAR PACHANGA
</button>

  </ion-content>
</ion-view>