<ion-view view-title="Mapa" class="splash_screen_bg">
  <ion-content class="padding" >
<br>
<br>


<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Tu Ubicación">
  </label>
</div>
<div class="item range">
  <i class="icon ion-cash"></i>
  <input type="range" name="Presupuesto" min="0" max="100" value="33">
  <i class="icon ion-cash"></i>
</div>


  <label class="item item-input item-select">
    <div class="input-label">
      Tipo de Fiesta
    </div>
    <select>
      <option>Tranqui</option>
      <option selected>Mediana</option>
      <option>Masiva</option>
    </select>
  </label>
</div>

<div class="maps">
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14389.769640275455!2d-100.299279!3d25.62343835!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1479032666183" width="397" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.986863207428!2d-99.17771368584123!3d19.499200986846464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f86cf91703fb%3A0x1bb8cb667a0c59e6!2sUniversidad+Tecmilenio+(Campus+Ferrer%C3%ADa+-+CdMx)!5e0!3m2!1sen!2smx!4v1479043049522" width="340" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
  </ion-content>
</ion-view>