<ion-view view-title="Account">
  <ion-content>
    <div class="profile centered-text">
      <h2>Donald Trump</h2>
    </div>
    <div class="profile profile-description">
      <p>Me gusta ponerme bien loko</p></p>
    </div>
    <div class="profile centered-img"></div>
      <img id="profile-avatar" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">
    </div>
    <div>
      
    </div>
    <ion-list>
      <!--
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    </ion-list>
  </ion-content>
</ion-view>s
