<ion-view view-title="Información">
  <ion-content class="padding">

    <div class="list card">

  <div class="item item-avatar">
    <img src="img/ben.png">
    <h2>Miguel Pineda</h2>
    <p>November 666, 666</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/adam.jpg">
    <p>
      Me gusta la fiesta
    </p>
    <p>
      
    </p>
  </div>

</div>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Nombre">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Apellido">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Correo">
  </label>
</div>

<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Dirección
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Telefono
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Credito
  </a>

</div>
  </ion-content>
</ion-view>